{% extends 'management/management_base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Bottone per creare un nuovo branch -->
    <button class="btn btn-primary shadow-sm mb-3" onclick="window.open('{% url 'main_management:new_branch' %}', '_self')">+ New Branch</button>

    <!-- Form di ricerca -->
    <form class="d-flex mb-3 me-5 justify-content-end position-relative" role="search">
      <div class="input-group" style="width: 300px;">
        <input 
          id="searchBar"
          class="form-control border-end-0 rounded-start shadow-sm" 
          type="search" 
          placeholder="Search Product" 
          aria-label="Search" 
          onkeyup="searchProduct()"
          style="transition: all 0.3s ease-in-out; border-width: 2px; border-color: #007bff;" 
          onfocus="this.style.boxShadow='0 0 5px 3px rgba(0,123,255,0.75)';"
          onblur="this.style.boxShadow='none';"
        />
        <button class="btn btn-outline-success rounded-end shadow-sm" type="submit" style="border-left: none; border-width: 2px; border-color: #007bff; transition: all 0.3s ease-in-out;">
          <i class="bi bi-search"></i> Search
        </button>
      </div>
    </form>
  </div>

  <!-- Lista dei Branch -->
  <ul class="list-group mb-4">
    {% for branch in page_obj %}
      {% if branch.id != user.branchstaff.branch.id %}
        <li class="list-group-item bg-light border-bottom rounded-lg shadow-sm mb-3" id="{{ branch.id }}">
          <div id="branch-detail-container" class="mt-4"></div>
          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title">{{ branch.name }}</h5>
              <p class="card-text"><strong>Address:</strong> {{ branch.address }}</p>
              <p class="card-text"><strong>Phone:</strong> {{ branch.phone }}</p>
              <p class="card-text"><strong>Email:</strong> {{ branch.email }}</p>
              <p class="card-text">
                <strong>Manager:</strong> {% if branch.manager %}
                  {{ branch.manager.user.first_name }} {{ branch.manager.user.last_name }}
                {% else %}
                  No Manager Assigned
                {% endif %}
              </p>
              <p><strong>Revenue:</strong> {{ branch.daily_turnover|default:'0'|floatformat:2 }} €</p>
              <p><strong>Weekly Revenue:</strong> {{ branch.weekly_turnover|default:'0.00' }} €</p>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center">
              <!-- Pulsante per visualizzare i dettagli -->
              <button class="btn btn-info btn-sm me-2" hx-get="{% url 'main_management:branch_detail' branch.pk %}" hx-target="#branch-detail-container" hx-swap="innerHTML">View</button>
              <!-- Pulsante per modificare il branch -->
              <a href="{% url 'main_management:update_branch' branch.pk %}" class="btn btn-warning btn-sm me-2">Edit</a>
              <!-- Pulsante per eliminare il branch -->
              <a href="{% url 'main_management:delete_branch' branch.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- Paginazione -->
  <div class="d-flex justify-content-center mb-5">
    <p class="text-secondary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
  </div>

  <div class="d-flex justify-content-between">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
          </li>
        {% endif %}

        <li class="page-item">
          <span class="page-link text-primary">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endblock %}
