{% extends 'management/management_base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-primary mb-3 me-3" onclick="window.open('{% url 'main_management:new_branch' %}','_self')">Create new branch</button>
    <form class="d-flex mb-3 me-5 justify-content-end" role="search">
      <input class="form-control me-2" style="width: 200px;" type="search" placeholder="Search" aria-label="Search" hx-get="{% url 'main_management:search_branch' %}" hx-trigger="submit" hx-target="#main-dashboard-result" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <ul class="list-group me-5">
    {% for branch in page_obj %}
      {% if branch.id != user.branchstaff.branch.id %}
        <li class="list-group-item bg-body-tertiary border-bottom rounded-end" id="{{ branch.id }}">
          <div id="branch-detail-container" class="mt-4"></div>
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">{{ branch.name }}</h5>
              <p class="card-text">Address: {{ branch.address }}</p>
              <p class="card-text">Phone: {{ branch.phone }}</p>
              <p class="card-text">Email: {{ branch.email }}</p>
              <p class="card-text">
                Manager:{% if branch.manager %}
                  {{ branch.manager.user.first_name }} {{ branch.manager.user.last_name }}
                {% else %}
                  No Manager asigned
                {% endif %}
              </p>
              <p>Revenue: {{ branch.daily_turnover|default:'0'|floatformat:2 }} €</p>
              <p>Weekly Revenue: {{ branch.weekly_turnover|default:'0.00' }} €</p>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <button class="btn btn-info btn-sm me-1" hx-get="{% url 'main_management:branch_detail' branch.pk %}" hx-target="#branch-detail-container" hx-swap="innerHTML">View</button>
              <a href="{% url 'main_management:update_branch' branch.pk %}" class="btn btn-warning btn-sm me-1">Edit</a>
              <a href="{% url 'main_management:delete_branch' branch.pk %}" class="btn btn-danger btn-sm me=1">Delete</a>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="d-flex justify-content-center mt-3 mb-5 me-5">
    <p class="text-secondary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
  </div>
  <div class="d-flex justify-content-between mb-5 me-5">
    <nav class="d-flex justify-content-between mb-5 me-5">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
          </li>
        {% endif %}

        <li class="page-item">
          <span class="page-link text-primary">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
