{% extends "management/management_base.html" %}

{% block content %}
<h2>Edit Manager</h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  
  <fieldset>
    <legend>Manager Info</legend>
    {{ userform.as_p }}
  </fieldset>

  <fieldset>
    <legend>Manager Deatils</legend>
    {{ managerform.as_p }}
  </fieldset>

  <button type="submit" class="btn btn-success">Përditëso</button>
</form>
{% endblock %}