{% extends 'management/management_base.html' %}

{% block content %}
  <div class="container mt-5 col-md-10 col-lg-8">
    <div class="card shadow-sm text-center">
      <div class="card-header bg-danger text-white">
        <p class="fs-4 mb-0">Are you sure you want to delete this Manager?</p>
      </div>
      <div class="card-body">
        <h5 class="card-title mb-4">{{ object.user.first_name }} {{ object.user.last_name }}</h5>
        <form method="post" class="mb-4">
          {% csrf_token %}
          <a href="{% url 'main_management:manager_list' %}" class="btn btn-outline-secondary px-4 py-2">Cancel</a>
          <button type="submit" class="btn btn-danger px-4 py-2 ms-3">Yes, Delete</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
