{% extends "management/management_base.html" %}


{% block content %}

<div class="container mt-4">
    <h1 class="text-center">Welcome to the Owner Dashboard</h1>
    <div class="row mt-5">
        <!-- Total Orders Card -->
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Orders</h5>
                    <p class="card-text display-6">{{ total_orders }}</p>
                    <a href="{% url 'main_management:orders_per_branch' %}" class="btn btn-outline-primary">Details</a>
                </div>
            </div>
        </div>

        <!-- Revenue Card -->
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Revenue</h5>
                    <p class="card-text display-6">{{ total_amount }} €</p>
                    <a href="" class="btn btn-outline-success">Details</a>
                </div>
            </div>
        </div>

        <!-- Staff Members Card -->
        <div class="col-md-4">
            <div class="card mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Employees</h5>
                    <p class="card-text display-6">{{ staff_number }}</p>
                    <a href="" class="btn btn-outline-secondary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}