{% extends "restaurant/employees_dashboard/base_template.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="text-center">
       
        <h2 class="mb-4">Restaurant POS</h2>

        <div class="card shadow-lg p-4" style="width: 350px;">
            <h3 class="text-center mb-3">Login</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <br>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <br>
                <button type="submit" class="btn btn-outline-secondary ">Login</button>
            </form>
            {% if form.errors %}

            <div class="alert alert-danger mt-3" role="alert">
                User not registred!
              </div>
              
              
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
