{% extends "restaurant/base.html" %}
{% block home_active %}active{% endblock home_active %}
{% block title %}Order Menu{% endblock title %}
{% block content %}


<div class="container-fluid">
    <div class="row text-center">
    <div class="list-group col-3  mt-5 text-align-center ps-5 pe-5" >
        {% for category in categories %}
            <button type="button" class="list-group-item list-group-item-action">{{ category.name }}</button>
        {% endfor %}
    </div>

    <div class="products col mt-5">
        <div class="list-group col" >
            {% for product in products %}
            <button type="button" class="list-group-item list-group-item-action">{{ product.name }} - {{product.price}} ALL</button>
            {% empty %}
                <p>No products available for this category.</p>
            {% endfor %}
        </div>
    </div>

    <div class="order_reciept col mt-5">
        <p>Reciept</p>
    </div>
</div>
</div>

{% endblock content %}