{% extends "branch_main.html" %}

{%block content%}
<div class = 'container'>   

    <p class='fs-3 mt-3 text-center'>Reset Password for {{staff_user.first_name}} {{staff_user.first_name}}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">          
            {{form.as_p }}
            {{form.errors}}
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-outline-success"> Confirm </button>
            <a href="{% url 'branch_management:your_profile' %}" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
        
    
</div>
{% endblock %}