

{% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card mb-4 shadow-sm bg-light border-0">
                <div class="card-header bg-dark text-white text-center">
                    <h5 class="mb-0">Edit Your Profile</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'restaurant:dashboard' %}" hx-post="{% url 'api_restaurant:edit_profile' user.pk %}" hx-target="#dash_result" hx-swap="innerHTML">
                        {% csrf_token %}
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td class="fw-semibold">First Name:</td>
                                    <td>{{ user_form.first_name }}</td>
                                </tr>
                                <tr>
                                    <td class="fw-semibold">Last Name:</td>
                                    <td>{{ user_form.last_name }}</td>
                                </tr>
                                <tr>
                                    <td class="fw-semibold">Email:</td>
                                    <td>{{ user_form.email }}</td>
                                </tr>
                                <tr>
                                    <td class="fw-semibold">Phone:</td>
                                    <td>{{ employee_form.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="fw-semibold">Position:</td>
                                    <td>{{ employee_form.role }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-outline-success rounded-pill px-4 shadow-sm">
                                Confirm Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'restaurant:edit_password' user.id %}" class="btn btn-outline-danger px-4">Change Password</a>
        </div>
    </div>
</div>
