{% load static %}


<li class="list-group-item">
  <ul class="list-group list-group-horizontal"  style="width: 100%;">
      <li class="list-group-item border border-0"  style="width: 100%;">Total</li>
      <li class="list-group-item border border-0"  style="width: 100%;">{{ total_amount }} €</li>
      <li class="list-group-item border border-0" style="width: 100%;">
        <p>Select orders Date: 
          <input type="date"
        hx-get="{% url 'api_restaurant:search_order_by_date' %}"
        hx-trigger="change delay:500ms"
        hx-target="#dash_result"
        id="date-search" 
        name="search_date"
          />
        </p>
      </li>
  </ul>
</li>
<li class="list-group-item" >
<ul class="list-group list-group-horizontal"  style="width: 100%;">
  <li class="list-group-item border border-0"  style="width: 100%;">Order Id</li>
  <li class="list-group-item border border-0"  style="width: 100%;">Order Time</li>
  <li class="list-group-item border border-0"  style="width: 100%;">Order Price</li>
  <li class="list-group-item border border-0"  style="width: 100%;">Order Status</li>
  <li class="list-group-item border border-0"  style="width: 100%;">Cancel Order</li>
  <li class="list-group-item border border-0"  style="width: 100%;">Order Detail</li>
  </ul>
  </li>

    {% for order in orders %}
        
            <li class="list-group-item" >
                
                <ul class="list-group list-group-horizontal"  style="width: 100%;">
                    <li class="list-group-item border border-0"  style="width: 100%;">{{ order.id }}</li>
                    <li class="list-group-item border border-0"  style="width: 100%;">{{ order.order_time|date:"d/m/Y" }}-{{ order.order_time|time:"H:i" }}</li>
                    <li class="list-group-item border border-0"  style="width: 100%;">{{ order.get_price_as_float }} €</li>
                    <li class="list-group-item border border-0"  style="width: 100%;">{{ order.status }} </li>
                    {% if order.status == "CANCELED" %}
                    <li class="list-group-item border border-0"  style="width: 100%;"><button type="button" class="btn btn-outline-danger disabled" style="display:none">Cancel</button></li>
                    {% else %}
                    <li class="list-group-item border border-0"  style="width: 100%;"> 
                        <button type="submit" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancelOrderModal_{{order.id}}" >Cancel</button>

                        <div class="modal fade" id="cancelOrderModal_{{order.id}}" tabindex="-1" aria-labelledby="cancelOrderModal_{{order.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="cancelOrderModal_{{order.id}}_Label">Order Cancelation</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="cancelOrderModalBody">
                                  Are you sure you want to cancel this order?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    >Close</button>

                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                    hx-post="{% url 'restaurant:cancel_order' order.id %}"
                                    hx-target="#dash_result"
                                    hx-swap="innerHtml"
                                    hx-on="htmx:afterRequest: document.getElementById('dash_result').innerHTML = this.responseText"
                                    >Confirm</button>
                                </div>
                              </div>
                            </div>
                          </div>


                    </li>
                        {% endif %}
                    <li class="list-group-item border border-0" 
                    style="width: 100%;">

                    <button type="button" 
                    class="btn btn-outline-secondary"
                    data-bs-toggle="modal" data-bs-target="#order_details_modal_{{ order.id }}"
                    hx-get="{% url 'api_restaurant:my_order_detail' order.id %}"
                    hx-target="#order_details_modal_body_{{ order.id }}"
                    hx-swap="innerHtml"
                    >View Details</button></li>
                    
                    <div class="modal fade" id="order_details_modal_{{ order.id }}" tabindex="-1" aria-labelledby="order_details_modal_{{ order.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Order {{ order.id }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" id="order_details_modal_body_{{ order.id }}">
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                 </ul>
            </li>
           
    {%empty%}

            <li class="list-group-item">No Orders </li>

    {% endfor %}


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="cancelOrderModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Order Cancellation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to cancel this order?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      