<div id="result">
    {% for product in object_list %}
    <div class="d-flex justify-content-between mt-1">
        <div class="row"></div>
                <li class="list-group-item border-0 col-3">
                    <span class="align-middle">{{ product.name }} - {{ product.price }} ALL</span>
                </li>
                <span style="margin-top:auto;margin-bottom:auto" class="col-6">
                    <label for="item" >Quantity:</label>
                    <input type="number" min="1" name="item" value="1">
                </span>
                <button type="button" class="btn btn-danger">Delete</button>
    </div>
    {% endfor %}
</div>
