{% load static %}

    {% for product in all_products %}
  
                <tr style="height:70px;">
                    <td>{{ product.name }}</td>
                    <td>{{ product.get_price_as_float }}</td>
                    <td><button class="add-to-order" data-product="{{ product.name }}" data-price="{{ product.get_price_as_float }}">Add</button></td>
                </tr>
           {%empty%}
           <tr style="height:70px;">
            <td></td>
            <td>No Product</td>
            <td></button></td>
        
    {% endfor %}

    