{% load static %}

<div class="list-group">
    {% for product in all_products %}
        <button 
            type="button" 
            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between add-to-order mb-2"
            onclick="addProductToOrder({{ product.id }}, '{{ product.name }}', {{ product.get_price_as_float }})"
            id="add_order_{{ product.id }}">

            <div class="d-flex align-items-center">
                <img src="{{ product.image.url }}" width="24" height="24" class="me-2" alt="{{ product.name }}">
                <span>{{ product.name }}</span>
            </div>

            <span>{{ product.get_price_as_float }} €</span>
        </button>
    {% empty %}
        <p class="text-center text-muted">No products available.</p>
    {% endfor %}
</div>
