{% extends 'restaurant/employees_dashboard/base_template.html' %}

{% block content %}
  <div class="container">
    <p class="fs-3 mt-3 text-center">Reset Password for {{ staff_user.first_name }} {{ staff_user.first_name }}</p>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">{{ form.as_p }}
        {{ form.errors }}</div>
      <div class="button-group">
        <button type="submit" class="btn btn-outline-success">Confirm</button>
        <a href="{% url 'restaurant:dashboard' %}" class="btn btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
