{% extends "branch_main.html" %}

{%block content%}
<div class = 'container'>   

    <h1>{% if form.instance.pk %}Update Category{% else %}Create Category{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">          
        {{ category_create_form.as_p }}
        {{category_create_form.errors}}
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-outline-success"> {% if form.instance.pk %}Update{% else %}Create{% endif %} Category</button>
            <a href="{% url 'branch_management:category-list' %}" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
    
    
</div>
{% endblock %}
