{% extends "branch_main.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Update Category</h2>

    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Category Details</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                    {{ form.errors }}
                </div>
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-success">Confirm</button>
                    <a href="{% url 'branch_management:category-list' %}" class="btn btn-outline-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}