{% extends "branch_main.html" %}

{%block content%}
    <div class="container mt-5">
        <h1>Employee List</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.user.first_name }}</td> 
                        <td>{{ employee.branch.name }}</td>
                        <td>
                            <a href="{% url 'branch_management:update_employee' employee.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'branch_management:delete_employee' employee.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <p>No employees found for this branch.</p>
                    {% endfor %}
                </tbody>
            </table>
        <a href="{% url 'branch_management:create_employee' %}" class="btn btn-success mt-3">Add New Employee</a>
        <a href="{% url 'branch_management:manager-dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>

    
{% endblock %}