{% extends "restaurant/employees_dashboard/base_template.html" %}
{% block content %}

    <main>
        <div class="container card">
            <h1>Dashboard</h1>
            <p>Welcome to your dashboard. Here you can manage orders and shifts.</p>
        </div>

        <div class="content card">
            <div><ul class="categorylist">
                <ul>
                    <li><button id='my_order'
                         hx-get="{% url 'my_orders'%}"
                            hx-target="#my_order_result"
                            hx-triger="click"
                            hx-swap="innerHtml "
                        >My orders</button></li>
                    <li><button>My shifts</button></li>
                    <li><button>My profile</button></li>
                </ul>
                <ul id="my_order_result">
                    {% comment %} insert orders here {% endcomment %}
                    {% include 'snippets/my_order_list.html' %}
                </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Shift Management. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
    {% endblock content %}