{% extends "restaurant/employees_dashboard/base_template.html" %}
{% block content %}

    <main>
        <!-- Menu Section -->
        <h1 style="text-align: center;">Menu</h1>
        <div class="container card">
            <!-- <h1>Menu</h1> -->
            <div style="margin-right: 10px;width:15%">
                <h4 style="height:42.8px;background-color: #1E50A2;min-width:112px;color:white;padding-left: 10px;padding-top:11px;margin-bottom:0px;margin-top: 20px;">Category</h4>
                <ul id="categorylist">
                    {% for category in categories%}
                        <li>
                            <input type="button" class="categoryButton" value="{{category.name}}" id="{{category.name}}"
                            hx-get="{% url 'get_products' category.id %}"
                            hx-target="#productResult"
                            hx-triger="click"
                            hx-swap="innerHtml ">
                        </li>
                    {% endfor %}
                </ul>
                
        </div>
        <table id="menuTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="productResult">
                    {% include 'snippets/order_product_list.html'%}
            </tbody>
            </table>


            <div class="selected-products">
                <h2>Current Order</h2>
                <button id="clearSelection">Clear Order</button>
                <button id="printInvoice">Print Invoice</button>
                <table id="selectedProductsTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id = "orderItemList">
                        <!-- Selected products will be added here dynamically -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="total-price">Total Price</td>
                            <td id="totalPrice">0.00 €</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- Order Section -->
        
    </main>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'js/main.js'%}" async defer></script> {% endcomment %}

</body>
</html>
    {% endblock content %}