{% extends "restaurant/employees_dashboard/base_template.html" %}
{% block content %}
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main>
        <!-- Menu Section -->
        <h1 style="text-align: center;">Menu</h1>
        <div class="container card">
            <!-- <h1>Menu</h1> -->
            <div class="row">
                <div class="col-md-3 mt-3">
                    <h4>Category</h4>

                    <div class="list-group">
                        {% for category in categories%}
                        <button type="button" class="list-group-item list-group-item-action"
                            value="{{category.name}}" id="{{category.name}}"
                            hx-get="{% url 'get_products' category.id %}"
                            hx-target="#productResult"
                            hx-triger="click"
                            hx-swap="innerHtml">{{category.name}}
                        </button>
                        {% endfor %}
                      </div>
                </div>

                <div class="col-md-4 mt-3">

                        <h4>Product</h4>

                        <div id="productResult">
                                {% include 'snippets/product_list_by_category.html' %}
                        </div>

                </div>

                <div class="col-md-5 mt-3">   
                    <div class="selected-products">
                        <h4>Current Order</h4>
                        
                    
                    
                    <table id="selectedProductsTable" >

                        

                        <thead >
                            <tr >
                                <th style="border-top-left-radius:9px">Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th style="border-top-right-radius:9px">Action</th>
                            </tr>
                        </thead>
                        <tbody id = "orderItemList" style="font-size:14px">
                            

                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <td colspan="3" class="total-price">Total Price</td>
                                <td id="totalPrice">0.00 €</td>
                            </tr>
                        </tfoot>
                    </table>
                <button id="clearSelection" type="button" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> Clear Order</button>



                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                <button id="printInvoice" type="button" class="btn btn-outline-success">
                    Print Invoice
                </button>

                <dialog id="confirmationDialog" >
                    <p>Are you sure you want to proceed with this order?</p>
                    <button id="confirmOrder">Confirm</button>
                    <button id="cancelOrder">Cancel</button>
                </dialog>

                <div id="response">'
                </div>
                </div>
            </div>
        </div>

        <!-- Order Section -->
        
    </main>


    {% endblock content %}